# Put your real API keys here to test it for real!
RESEND_API_KEY=""
SMTP_HOST="smtp.gmail.com"
SMTP_USER=""
SMTP_PASS=""

# 100% Private Analytics - Connect to your MongoDB
MONGODB_URI="mongodb://localhost:27017/nexomailer"

#redis details
REDIS_HOST="127.0.0.1",
REDIS_PORT="6379"

#openAi 
OPENAI_API_KEY=""


